body, html {
  font-family: Helvetica, sans-serif;
  text-align: center;

}

div{
  align-content: center;
  background-image: url("/Web-repo/wk5/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}



section{
  text-align: center;
  padding: 10;
  width: 60%;
}


h1{
  text-align: center;
  color: orange;
  font-family:Helvetica;
  font-size:60px;
}

h2 {
  text-align: center;
  color: orange;
  font-family:Helvetica;
  font-size: 35px;
}

h3 {
  text-align: center;
  color: orange;
  font-family:Helvetica;
  font-size: 25px;
}

ul,li{
  display:inline-block;
  color: orange;
  font-family:Helvetica;
  font-size: 20px;
}
