body, html {
  height: 500px;
  margin: 0;
  font-family: Helvetica, sans-serif;

  background-image: url("/Web-repo/wk5/background.jpg");
  background-color: #cccccc;
}





h1{
  color: orange;
  font-family:Helvetica;
  font-size:60px;
}

h2 {
  color: orange;
  font-family:Helvetica;
  font-size: 35px;
}

h3 {
  color: orange;
  font-family:Helvetica;
  font-size: 25px;
}

ul {
  color: orange;
  font-family:Helvetica;
  font-size: 20px;
}
