body {
  width:100%;
  margin:5vw;
  font-family: sans-serif;
  text-align: center;
  background-color: #78848B;

  background-image: url("/Web-repo/Midterm/Assets/DSC_1823.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  align-content: center;
}

#tabs{
  display: flex;
  margin: 5vh 10vw 0 10vw;
  font-size: 1.8em;
  background-color: grey;
  opacity: 0.9;
  border-bottom: none;
}

#items{
  display: flex;
  margin: 0 10vw 0 10vw;
  border-top: none;
}

.day{
  flex-grow:1;
  width: auto;
  border: 1px solid grey;
  border-bottom: none;
}

#image, .menu{
  flex-grow:1;
  width: auto;
  background-color: white;
  border: 1px solid grey;
  max-width: 50%;
  opacity: 0.9;
  border-top: none;
}

#Tuemenu, #Wedmenu, #Thumenu, #Frimenu, #Satmenu, #Sunmenu{
  display: none;
}

.active{
  background-color: white;
  border-bottom: none;
  opacity: 0.9;
}

img{
  max-height: 80%;
  max-width: 80%;
  object-fit: cover;
  display: block;
  margin: auto;
  padding: 80px;
}


h1{
  text-align: center;
  color: #FF8A00;
  font-size:60px;
}

h2 {
  text-align: center;
  color: #FF8A00;
  font-size: 20px;
}

h3 {
  text-align: center;
  color: #FF8A00;
  font-size: 25px;
}

h4 {
  text-align: center;
  color: #FF8A00;
  font-size: 20px;
}
